<div id="chatWrapper" class="chat-wrapper">
	<div class="messages d-flex flex-column align-items-end">
		<ul>
			<li *ngFor="let message of messages">
				<p class="d-inline-flex messageWithText" *ngIf="message.messageText">
					<span class="message align-self-end">{{ message.messageText }}</span>
					<span class="messageTime align-self-end">{{ message.messageDate | date:'shortTime' }}</span>
				</p>
				<!-- <p class="d-inline-flex messageWithImage" *ngIf="(message.messageImage | json) != '{}' || !message.hasOwnProperty(messageImage)">
					<span class="message align-self-end" ><img class="img-fluid" src="{{ message.messageImage.imageUrl }}" alt="{{ message.messageImage.imageTitle }}"></span>
					<span class="messageTime align-self-end">{{ message.messageDate | date:'shortTime' }}</span>
				</p> -->
			</li>
		</ul>
	</div>
</div>
<!-- Text message form begins here -->
<div class="chat-form">
	<form (ngSubmit)="onSubmitText(f)" #f="ngForm" *ngIf="textFormOn">
		<div class="input-group messageInput">
		  <input type="text" class="form-control" placeholder="Type a message" aria-label="Message text" aria-describedby="basic-addon2" name="messageTextInput" ngModel required>
		  <div class="input-group-append">
		    <button
		    	class="btn btn-outline-secondary giphyButton"
		    	type="button" (click)="giphySearchFormSwitch();">
		    	+ Giphy
		    </button>
		    <button class="btn button-primary sendButton" type="submit" [disabled]="!f.valid">Send</button>
		  </div>
		</div>
	</form>
</div>
<!-- Text message form ends here -->
<!-- GIF form search - Begins here -->
<div class="gyWrapper" *ngIf="giphySearchFormOn">
	<!-- Image display area - Begins here -->
	<div id="gyPicturesId" class="gyPictures hideGyPictures">
		<!-- Image select area - Begins here -->
		<form class="gyPictureSelectForm" (ngSubmit)="onSubMitGiphy(cF);toggleGiphyPicturesActive('gyPicturesId');giphySearchButtonToggle();textFormSwitch()" #cF="ngForm" *ngIf="!gyError">
			<span *ngFor="let gyImage of gyImages">
				<input 
				  type="radio" name="selectedImage" 
				  id="{{ gyImage.imageSlug }}" value="{{ gyImage.imageUrl }}" class="input-hidden" ngModel required />
				<label for="{{ gyImage.imageSlug }}">
				  <img 
				    src="{{ gyImage.imageUrl }}" 
				    alt="{{ gyImage.imageTitle }}" />
				</label>
			</span>
			<button class="btn button-primary sendButton" type="submit" [disabled]="!cF.valid">Send</button>
			<button class="btn button-danger sendButton" type="button" (click)="toggleGiphyPicturesActive('gyPicturesId')">Cancel</button>
		</form>
		<div class="gyError" *ngIf="gyError">
			<p>Please check your internet connection</p>
			<button class="btn button-primary sendButton" type="button" (click)="toggleGiphyPicturesActive('gyPicturesId')">Retry</button>
		</div>
		<!-- Image select area - Ends here -->
	</div>
	<!-- Image display area - Ends here -->
	<!-- Search form area - Begins here -->
	<form (ngSubmit)="onGiphySearchSubmit(sF)" #sF="ngForm" >
		<div class="input-group messageInput">
		  <input type="text" class="form-control" placeholder="Search for GIF e.g 'happy'" aria-label="Search Giphy Image" aria-describedby="basic-addon2" name="giphyImageSearch" ngModel required>
		  <div class="input-group-append">
		    <button
		    	class="btn btn-outline-secondary giphyButton"
		    	type="submit"
		    	*ngIf="giphySearchButton"
		    	[disabled]="!sF.valid">
		    	Search Giphy
			</button>
			<button
		    	class="btn btn-danger giphyButton cancelButton"
		    	type="button"
		    	(click)="textFormSwitch()"
		    	*ngIf="giphySearchButton">
		    	X
			</button>
			<button
		    	class="btn btn-outline-secondary giphyButton"
		    	type="button"
		    	(click)="textFormSwitch();giphySearchButtonToggle();clearGiphyImages()"
		    	*ngIf="!giphySearchButton">
		    	- Giphy
			</button>
		  </div>
		</div>
	</form>
	<!-- Search form area - Ends here -->
</div>
<!-- GIF form search - Ends here -->