<nav class="d-flex flex-row align-items-center">
	<div class="left">
		<h1 class="gyChatBrandIcon"><a routerLink="/">GiphyChat</a></h1>
	</div>
	<div class="right d-flex justify-content-end">
		<p><span class="authLink"><a (click)="openModal(template)">Login</a></span> or <span class="authLink"><a (click)="openModal(template)">Register</a></span></p>
	</div>
</nav>

<!-- Temporary Auth Modal - Begins here -->
<ng-template #template class="loginModal">
  <div class="loginModal">
    <div class="close-button d-flex flex-row justify-content-end">
      <button type="button" class="close align-self-end" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>We are sorry, this feature isn't avaible yet</p>
    </div>
  </div>
</ng-template>