<nav class="d-flex flex-row align-items-center">
	<div class="left">
		<h1 class="gyChatBrandIcon"><a routerLink="/">GiphyChat</a></h1>
	</div>
	<div class="right d-flex justify-content-end">
		<p><span class="authLink"><a (click)="authComingSoon()">Login</a></span> or <span class="authLink"><a (click)="authComingSoon()">Register</a></span></p>
	</div>
</nav>

<!-- Temporary Auth Modal - Begins here -->
<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->
<!-- Temporary Auth Modal - Ends here -->