/* You can add global styles to this file, and also import other style files */

@import "variables", "mixins";

@import url('https://fonts.googleapis.com/css?family=Poppins');

// Global styles
body {
	font-family: 'Poppins', sans-serif;
}

// UI elements
.button-primary {
	background: $gychat-primary;
	color: #FFFFFF;

	&:hover {
		background: $gychat-accent;
		color: gray;
	}
}